.menu-container {
    width: 250px;
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
    height: 100%;
 //   color: white;
  }
  
  .ui-panelmenu {
    width: 100%;
  }

  .bg-body-secondary {
    --bs-bg-opacity: 1;
  //  background-color: rgb(19 4 104) !important;
  }